$primary-color: #2a523e;

.orderData-container {
  border: solid 1px #d3d3d3;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.orderData-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search-input {
  width: 50%;
  padding: 0 2rem;
}
.search-input:focus {
  outline: none;
}
input {
  padding: 1.5rem;
  width: 100%;
  height: 2.4rem;
  font-size: 2.4rem;
  border-radius: 2rem;
  border: 1.2px solid gray;
}

.btn-additem {
  border-radius: 20px;
  font-weight: 800;
  color: #27503c;
  background-color: #ffffff;
  border: 1px solid #2a523e;
  padding: 0 0.5rem;
}

.add-print {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.print {
  margin-left: 2rem;
  color: #27503c;
}

table {
  border-collapse: collapse;
  border: 1.5px solid #c9c5c5;

  width: 100%;
}

th,
td {
  padding: 0.4rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 300;
}

.orderName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

img {
  height: 4.5rem;
  width: 4.5rem;
}

.icon-cta {
  width: 2.2rem;
  cursor: pointer;
}
.orderStatus-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.btn-statusActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
